<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/productDetail.css">
  <link rel="icon" href="%PUBLIC_URL%/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#000000"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div>
  <div className="product_detail">
    <div className="container d-flex">
      <div>
        <div className="images">
          <img
            src="https://antien.vn/uploads/product/dong-ho-thong-minh-fitbit-versa-2-chinh-hang_1604387316.jpg"
            alt="áá"/>
        </div>
        <div className="list_img">
          <span>
            <img src="
              productDetailStore.imagesActive = i" alt=""/>
          </span>

        </div>
      </div>
      <div className="content">
        <div className="name">
          <h2>Tên sản phẩm</h2>
        </div>
        <div className="d-flex align-items-center">
          <p className="salePrice mr-4">Giá đ</p> <span
          className="price">Giá đ</span>
        </div>
        <p className="discount mb-4"><span className="ml-1">GIẢM</span></p>


        <div className="next-number-picker d-flex align-items-center justify-content-center"
             style="width: 180px;border: 1px solid #E1E1E1;border-radius: 5px;">
          <button
            style=" color: #666666;border: none; font-size: 14px; background: #F4F5F6;width: 48px !important; height: 48px !important;border-radius: 4px 0px 0px 4px;border-right: 1px solid #C1C1C1;"
            className=" " type="button" onClick=""><i
            className="far fa-minus"/></button>
          <input style=" width: 86px;font-size: 18px;text-align: center;border: none;background-color: white;"
                 className="product-result-quantity" type="text" readOnly
                 value="0"/>
          <button
            style="color: #666666; border: none;font-size: 14px;background: #F4F5F6;width: 48px !important;height: 48px !important;border-radius: 0px 4px 4px 0px;border-left: 1px solid #C1C1C1;"
            className=" " type="button" onClick="">
            <i className="far fa-plus"/>
          </button>
        </div>
        <p className="quantity">
          <span
            className="text-danger">Số lượng sản phẩm còn trong kho</span>)
        </p>
        <div className="action-normal d-flex align-items-center" id="product-detail-action">
          <button className="add" onClick="">Thêm vào giỏ</button>
          <button className="buy">Mua ngay</button>
        </div>
        <div className="commitment" style=" padding: 32px 0 14px;margin-top: 40px;border-top: 1px solid #E1E1E1;">
          <span
            style="font-weight: 600;font-size: 15px;line-height: 20px;color: #F44B24;">Cam kết sản phẩm chính hãng</span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="%PUBLIC_URL%/vendors/js/vendor.bundle.base.js"></script>
<script src="%PUBLIC_URL%/vendors/js/vendor.bundle.addons.js"></script>
</html>